.app {
  text-align: center;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
